<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.LoginMapper">

    <select id="queryByMobilePhone" resultType="User">
        SELECT id,
               error_count,
               error_time,
               last_login_ip,
               last_login_time,
               mobile_phone,
               password,
               real_name,
               register_time,
               update_time,
               user_status,
               username,
               invite_code,
               token,
               deviceId,
               reg_invite_code,
               user_type,
               sex,
               eth_address,
               validate_status,
               id_card
        FROM user
        WHERE mobile_phone = #{param1}
    </select>

    <update id="updateLoginErrorInfo" parameterType="User">
        UPDATE user
        SET error_count = #{errorCount},
            error_time  = #{errorTime},
            deviceId    = #{deviceId}
        WHERE id = #{id}
    </update>

    <update id="updateLoginInfo" parameterType="User">
        UPDATE user
        SET last_login_time = #{lastLoginTime},
            error_count     = 0,
            last_login_ip   = #{lastLoginIp},
            token           = #{token},
            deviceId        = #{deviceId}
        WHERE id = #{id}
    </update>

    <update id="updateLogoutInfo" parameterType="User">
        UPDATE user
        SET token       = #{token},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

</mapper>