<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserTreeMapper">

    <sql id="Base_Column_List">
        id, child_id, parent_id
    </sql>

    <select id="selectByParentId" resultType="User">
        select u.id, u.mobile_phone, u.username
        from user_tree ut
                 left join user u on u.id = ut.child_id
        where ut.parent_id = #{param1}
    </select>

    <select id="selectByChildId" resultType="UserTree">
        select id, child_id, parent_id
        from user_tree
        where child_id = #{param1}
    </select>

    <insert id="insert" parameterType="UserTree">
        insert into user_tree
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="childId != null">
                child_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="childId != null">
                #{childId,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

</mapper>