<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserTeamExtMapper">

    <select id="queryUserIdsByParentId" resultType="java.lang.Long">
        SELECT child_id
        FROM user_tree
        WHERE parent_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

</mapper>