<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gedoumi.quwabao.user.mapper.UserProfitMapper">

    <sql id="Base_Column_List">
        id, user_id, static_profit, dynamic_profit, club_profit, total_profit, date, create_time
    </sql>

    <select id="selectByUserId" resultType="UserProfit">
        select
        <include refid="Base_Column_List"/>
        from user_profit
        where user_id = #{param1}
        order by create_time desc
    </select>

    <select id="selectByDate" resultType="UserProfit">
        select
        <include refid="Base_Column_List"/>
        from user_profit
        where date = #{param1}
    </select>

    <select id="selectByuserIdAndDate" resultType="UserProfitDTO">
        select up.user_id,
               up.static_profit,
               up.dynamic_profit,
               up.club_profit,
               up.total_profit,
               sum(ur.rent_asset) as total_rent_asset
        from user_profit up
                 left join user_rent ur on ur.user_id = up.user_id
        where up.user_id = #{param1}
          and up.date = #{param2}
          and ur.rent_status = #{param3};
    </select>

    <insert id="insert" parameterType="UserProfit">
        insert into user_profit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="staticProfit != null">
                static_profit,
            </if>
            <if test="dynamicProfit != null">
                dynamic_profit,
            </if>
            <if test="clubProfit != null">
                club_profit,
            </if>
            <if test="totalProfit != null">
                total_profit,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="staticProfit != null">
                #{staticProfit,jdbcType=DECIMAL},
            </if>
            <if test="dynamicProfit != null">
                #{dynamicProfit,jdbcType=DECIMAL},
            </if>
            <if test="clubProfit != null">
                #{clubProfit,jdbcType=DECIMAL},
            </if>
            <if test="totalProfit != null">
                #{totalProfit,jdbcType=DECIMAL},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="list">
        <foreach collection="list" item="userProfit" separator=";">
            insert into user_profit
            <trim prefix="(" suffix=")" suffixOverrides=",">
                user_id,
                static_profit,
                total_profit,
                date,
                create_time,
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{userProfit.userId,jdbcType=BIGINT},
                #{userProfit.staticProfit,jdbcType=DECIMAL},
                #{userProfit.totalProfit,jdbcType=DECIMAL},
                #{userProfit.date,jdbcType=DATE},
                #{userProfit.createTime,jdbcType=TIMESTAMP},
            </trim>
        </foreach>
    </insert>

    <update id="updateById" parameterType="UserProfit">
        update user_profit
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="staticProfit != null">
                static_profit = #{staticProfit,jdbcType=DECIMAL},
            </if>
            <if test="dynamicProfit != null">
                dynamic_profit = #{dynamicProfit,jdbcType=DECIMAL},
            </if>
            <if test="clubProfit != null">
                club_profit = #{clubProfit,jdbcType=DECIMAL},
            </if>
            <if test="totalProfit != null">
                total_profit = #{totalProfit,jdbcType=DECIMAL},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateBatchByUserId" parameterType="list">
        <foreach collection="list" item="userProfit" separator=";">
            update user_profit
            <set>
                <if test="userProfit.staticProfit != null">
                    static_profit = #{userProfit.staticProfit,jdbcType=DECIMAL},
                </if>
                <if test="userProfit.dynamicProfit != null">
                    dynamic_profit = #{userProfit.dynamicProfit,jdbcType=DECIMAL},
                </if>
                <if test="userProfit.clubProfit != null">
                    club_profit = #{userProfit.clubProfit,jdbcType=DECIMAL},
                </if>
                total_profit = #{userProfit.totalProfit,jdbcType=DECIMAL},
            </set>
            where user_id = #{userProfit.userId,jdbcType=BIGINT}
        </foreach>
    </update>

</mapper>