<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserRentMapper">

    <select id="countUserRentsByIds" resultType="com.gedoumi.quwabao.user.dataobj.dto.UserRentNumberDTO">
        SELECT user_id, count(0) AS number
        FROM user_rent
        WHERE rent_status = #{param2}
        AND user_id IN
        <foreach collection="param1" item="item" open="(" separator="," close=")">#{item}</foreach>
        GROUP BY user_id
    </select>

    <select id="selectTotalRentAsset" resultType="java.math.BigDecimal">
        SELECT sum(rent_asset)
        FROM user_rent
        WHERE user_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

</mapper>