<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserCheckMapper">

    <select id="countByMobilePhone" resultType="Integer">
        SELECT count(0)
        FROM user
        WHERE mobile_phone = #{param1}
    </select>

    <select id="countByInviteCode" resultType="Integer">
        SELECT count(0)
        FROM user
        WHERE invite_code = #{param1}
    </select>

    <select id="countByUsername" resultType="Integer">
        SELECT count(0)
        FROM user
        WHERE username = #{param1}
    </select>

</mapper>