<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserRentMapper">

    <select id="selectUserRents" resultMap="rent">
        SELECT ur.id,
               ur.rent_asset,
               ur.last_dig,
               ur.already_dig,
               ur.total_asset,
               ur.user_id,
               ur.rent_type,
               sr.name,
               sr.money
        FROM user_rent ur
                 LEFT JOIN sys_rent sr ON sr.rent_code = ur.rent_type
        WHERE ur.user_id = #{param1}
          AND ur.rent_status = #{param2}
    </select>
    <resultMap id="rent" type="com.gedoumi.quwabao.user.dataobj.model.UserRent">
        <id column="id" property="id"/>
        <result column="rent_asset" property="rentAsset"/>
        <result column="last_dig" property="lastDig"/>
        <result column="already_dig" property="alreadyDig"/>
        <result column="total_asset" property="totalAsset"/>
        <result column="user_id" property="userId"/>
        <result column="rent_type" property="rentType"/>
        <collection property="rent" ofType="com.gedoumi.quwabao.sys.dataobj.model.SysRent">
            <result column="name" property="name"/>
            <result column="money" property="money"/>
        </collection>
    </resultMap>

    <select id="countUserRentsByIds" resultType="com.gedoumi.quwabao.user.dataobj.dto.UserRentNumberDTO">
        SELECT user_id, count(0) AS number
        FROM user_rent
        WHERE rent_status = #{param2}
        AND user_id IN
        <foreach collection="param1" item="item" open="(" separator="," close=")">#{item}</foreach>
        GROUP BY user_id
    </select>

    <select id="queryTotalRentAsset" resultType="java.math.BigDecimal">
        SELECT sum(rent_asset)
        FROM user_rent
        WHERE user_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

</mapper>