<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.user.mapper.UserAssetDetailMapper">

    <sql id="Base_Column_List">
        id,
        create_time,
        money,
        profit,
        profit_ext,
        trans_type,
        update_time,
        version_type,
        user_id,
        rent_id,
        dig_date,
        reward_user_id,
        api_trans_seq,
        fee
    </sql>

    <select id="selectTransInIds" resultType="UserAssetDetail">
        select create_time, money, trans_type
        from user_asset_detail
        where user_id = #{userId}
        and trans_type in
        <foreach collection="transType" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
        order by create_time desc
    </select>

    <select id="selectTotalDayWithdraw" resultType="java.math.BigDecimal">
        select sum(money)
        from user_asset_detail
        where user_id = #{param1}
          and trans_type = #{param2}
          and create_time between #{param3} and #{param4};
    </select>

    <select id="countBySeq" resultType="java.lang.Integer">
        select count(0)
        from user_asset_detail
        where api_trans_seq = #{param1}
    </select>

    <insert id="insert" parameterType="UserAssetDetail">
        insert into user_asset_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="profit != null">
                profit,
            </if>
            <if test="profitExt != null">
                profit_ext,
            </if>
            <if test="transType != null">
                trans_type,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="versionType != null">
                version_type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="rentId != null">
                rent_id,
            </if>
            <if test="digDate != null">
                dig_date,
            </if>
            <if test="rewardUserId != null">
                reward_user_id,
            </if>
            <if test="apiTransSeq != null">
                api_trans_seq,
            </if>
            <if test="fee != null">
                fee,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="profit != null">
                #{profit,jdbcType=DECIMAL},
            </if>
            <if test="profitExt != null">
                #{profitExt,jdbcType=DECIMAL},
            </if>
            <if test="transType != null">
                #{transType,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="versionType != null">
                #{versionType,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="rentId != null">
                #{rentId,jdbcType=BIGINT},
            </if>
            <if test="digDate != null">
                #{digDate,jdbcType=DATE},
            </if>
            <if test="rewardUserId != null">
                #{rewardUserId,jdbcType=BIGINT},
            </if>
            <if test="apiTransSeq != null">
                #{apiTransSeq,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                #{fee,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="list">
        <foreach collection="list" item="detail" separator=";">
            insert into user_asset_detail
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="detail.id != null">
                    id,
                </if>
                <if test="detail.createTime != null">
                    create_time,
                </if>
                <if test="detail.money != null">
                    money,
                </if>
                <if test="detail.profit != null">
                    profit,
                </if>
                <if test="detail.profitExt != null">
                    profit_ext,
                </if>
                <if test="detail.transType != null">
                    trans_type,
                </if>
                <if test="detail.updateTime != null">
                    update_time,
                </if>
                <if test="detail.versionType != null">
                    version_type,
                </if>
                <if test="detail.userId != null">
                    user_id,
                </if>
                <if test="detail.rentId != null">
                    rent_id,
                </if>
                <if test="detail.digDate != null">
                    dig_date,
                </if>
                <if test="detail.rewardUserId != null">
                    reward_user_id,
                </if>
                <if test="detail.apiTransSeq != null">
                    api_trans_seq,
                </if>
                <if test="detail.fee != null">
                    fee,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="detail.id != null">
                    #{detail.id,jdbcType=BIGINT},
                </if>
                <if test="detail.createTime != null">
                    #{detail.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="detail.money != null">
                    #{detail.money,jdbcType=DECIMAL},
                </if>
                <if test="detail.profit != null">
                    #{detail.profit,jdbcType=DECIMAL},
                </if>
                <if test="detail.profitExt != null">
                    #{detail.profitExt,jdbcType=DECIMAL},
                </if>
                <if test="detail.transType != null">
                    #{detail.transType,jdbcType=INTEGER},
                </if>
                <if test="detail.updateTime != null">
                    #{detail.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="detail.versionType != null">
                    #{detail.versionType,jdbcType=INTEGER},
                </if>
                <if test="detail.userId != null">
                    #{detail.userId,jdbcType=BIGINT},
                </if>
                <if test="detail.rentId != null">
                    #{detail.rentId,jdbcType=BIGINT},
                </if>
                <if test="detail.digDate != null">
                    #{detail.digDate,jdbcType=DATE},
                </if>
                <if test="detail.rewardUserId != null">
                    #{detail.rewardUserId,jdbcType=BIGINT},
                </if>
                <if test="detail.apiTransSeq != null">
                    #{detail.apiTransSeq,jdbcType=VARCHAR},
                </if>
                <if test="detail.fee != null">
                    #{detail.fee,jdbcType=DECIMAL},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="updateById" parameterType="UserAssetDetail">
        update user_asset_detail
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="profit != null">
                profit = #{profit,jdbcType=DECIMAL},
            </if>
            <if test="profitExt != null">
                profit_ext = #{profitExt,jdbcType=DECIMAL},
            </if>
            <if test="transType != null">
                trans_type = #{transType,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="versionType != null">
                version_type = #{versionType,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="rentId != null">
                rent_id = #{rentId,jdbcType=BIGINT},
            </if>
            <if test="digDate != null">
                dig_date = #{digDate,jdbcType=DATE},
            </if>
            <if test="rewardUserId != null">
                reward_user_id = #{rewardUserId,jdbcType=BIGINT},
            </if>
            <if test="apiTransSeq != null">
                api_trans_seq = #{apiTransSeq,jdbcType=VARCHAR},
            </if>
            <if test="fee != null">
                fee = #{fee,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>