<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.sys.mapper.SysConfigMapper">

    <sql id="Base_Column_List">
        id, app_version, download_url, static_profit, dynamic_profit, trans_fee_proportion,
        withdraw_single_min, withdraw_single_max, withdraw_day_limit
    </sql>

    <select id="selectById" resultType="SysConfig">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>