<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.sys.mapper.SysSmsMapper">

    <insert id="createSysSms" parameterType="SysSms">
        INSERT INTO sys_sms (code, create_time, mobile_phone, sms_status, sms_type, update_time)
        VALUES (#{code}, #{createTime}, #{mobilePhone}, #{smsStatus}, #{smsType}, #{updateTime})
    </insert>

    <select id="smsCurrentDayCount" resultType="Date">
        SELECT create_time
        FROM sys_sms
        WHERE mobile_phone = #{param1}
          AND create_time BETWEEN #{param2} AND #{param3}
        ORDER BY create_time DESC
    </select>

    <select id="checkSms" resultType="Date">
        SELECT create_time
        FROM sys_sms
        WHERE mobile_phone = #{param1}
          AND code = #{param2}
          AND sms_status = 1
          AND sms_type = #{param3}
        ORDER BY create_time DESC
        LIMIT 0, 1
    </select>

    <update id="updateSmsStatus">
        UPDATE sys_sms
        SET sms_status  = 0,
            update_time = #{param2}
        WHERE mobile_phone = #{param1}
    </update>

</mapper>