<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.sys.mapper.SysSmsMapper">

    <select id="smsCurrentDayCount" resultType="java.lang.Integer">
        SELECT count(0)
        FROM sys_sms
        WHERE mobile_phone = #{param1}
          AND create_time BETWEEN #{param2} AND #{param3}
        ORDER BY create_time DESC
    </select>

    <update id="updateSmsStatus">
        UPDATE sys_sms
        SET sms_status  = #{param3},
            update_time = #{param4}
        WHERE mobile_phone = #{param1}
          AND sms_status = #{param2}
    </update>

</mapper>