<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.quwabao.miner.mapper.MinerMapper">

    <select id="queryList" resultType="Rent">
        SELECT rent_code, name, money, profit_money_ext
        FROM sys_rent
        WHERE rent_status = #{param1}
    </select>

    <select id="queryRent" resultType="Rent">
        SELECT money, profit_money_ext
        FROM sys_rent
        WHERE rent_code = #{param1}
    </select>

</mapper>